<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="false">

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>[%d{yyyy-MM-dd HH:mm:ss.SSS,GMT+8}]%-5level %logger{72}[%L] - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="STASH-A" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>/log/stash-a.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>/log/stash-a.%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>7</maxHistory>
        </rollingPolicy>
        <encoder class="net.logstash.logback.encoder.LogstashEncoder"/>
    </appender>

    <appender name="STASH-B" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>/log/stash-b.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>/log/stash-b.%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>7</maxHistory>
        </rollingPolicy>
        <encoder class="net.logstash.logback.encoder.LogstashEncoder"/>
    </appender>

    <logger name="com.github.yingzhuo" level="DEBUG"/>
    <logger name="org.springframework" level="INFO"/>

    <logger name="A" level="TRACE">
        <appender-ref ref="STASH-A"/>
    </logger>

    <logger name="B" level="TRACE">
        <appender-ref ref="STASH-B"/>
    </logger>

    <root level="INFO">
        <appender-ref ref="STDOUT"/>
    </root>

</configuration>